a {
	color: #000066;
	font-weight:normal;
}
	
a:hover {
	color: #CC9900;
}
.border3pxblue{border: 3px solid #000066; background-color: #FFFFFF;}
.border3pxbluebgtan{border: 3px solid #000066; background-color: #CC9966;}
.border3pxbluebgwhttxt{border: 3px solid #000066; background-color: #FFFFFF;font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal;font-weight: normal; color: 999999;}
.borderbottom3pxblue{border-bottom: 3px solid #000066;}
.verdana12pxbluereg{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: 000066;
	line-height: 19px;
	text-align: justify;
}
.verdana12pxblueregunder{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; font-weight: normal;	color: 000066; text-decoration: underline;}
.verdana9pxbluereg{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal;font-weight: normal; color: 000066;}
.verdana12pxbluebold{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal;font-weight: bold; color: 000066;}
.verdana18pxredbold{font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 18px; font-style: normal; font-weight: bold; color: CC0000;}
.times14pxbluereg{font-family: "Times New Roman", Times, serif;font-size: 14px;font-style: normal;font-weight: normal;color: 000066;}
.times16pxbluebold{font-family: "Times New Roman", Times, serif;font-size: 16px;font-style: normal;font-weight: bold;color: 000066;}
.times16pxredbold{font-family: "Times New Roman", Times, serif;font-size: 16px;font-style: normal;font-weight: bold;color: CC3333;}
.times18pxbluebold{font-family: "Times New Roman", Times, serif;font-size: 18px;font-style: normal;font-weight: bold;color: 000066;}
.times18pxredbold{font-family: "Times New Roman", Times, serif;font-size: 18px;font-style: normal;font-weight: bold;color: CC3333;}
.times16pxbluereg{font-family: "Times New Roman", Times, serif;font-size: 16px;font-style: normal;font-weight: normal;color: 000066;}
